:root {
    --background-color: #111;
    --section-background: #1e2e24;
    --section-hover: #24382c;
    --text-color: white;
    --accent-color: #4caf50;
    --accent-hover: #66ff66;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --shadow-hover: rgba(0, 0, 0, 0.6);
    --border-radius: 10px;
    --box-shadow: 10px 20px 30px var(--shadow-color);
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    z-index: -1;
}

.background-image {
    width: 75%;
    max-width: 1200px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.8), 10px 0px 20px rgba(0, 0, 0, 0.8);
    webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0) 100%);
}

.content-wrapper h1 {
    text-align: center;
    width: 95%;
    font-size: 10rem;
    margin-bottom: 50px;
}

.company-section, .product-section, .team-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--section-background);
    padding: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 100px;
    box-shadow: var(--box-shadow);
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.company-section:hover, .product-section:hover, .team-section:hover {
    background: var(--section-hover);
}

.company-info, .product-info {
    flex: 1;
    color: var(--text-color);
    padding: 0 20px;
}

.company-info h2, .product-info h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.company-info p, .product-info p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.company-image, .product-image {
    flex-shrink: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-image {
    margin-left: 30px;
}

.product-image {
    margin-right: 30px;
}

.company-photo, .product-photo {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-image a {
    display: block;
    width: 100%;
}

.product-photo {
    cursor: pointer;
    transform: translateY(0px);
}

.product-photo:hover {
    transform: translateY(-5px);
    box-shadow: 10px 20px 30px var(--shadow-hover);
}

.product-photo:active {
    transform: translateY(2px);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.8);
}

.product-link {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s;
}

.product-link:hover {
    color: var(--accent-hover);
}

.full-product-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.large-product-photo {
    width: 80%;
    max-width: 1200px;
    border-radius: var(--border-radius);
    box-shadow: 10px 20px 30px var(--shadow-hover);
}

.team-info {
    flex: 1;
    color: var(--text-color);
    padding-right: 20px;
}

.team-info h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.team-info p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.team-image {
    flex-shrink: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.team-photo {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.spacer {
    width: 100%;
    min-height: 650px;
    max-height: 650px;
}

.scroll-container {
    width: 95%;
    max-width: 98vw;
    display: block;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.scroll-container::before {
    content: "";
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(13, 27, 20, 0) 0%, rgba(13, 27, 20, 1) 100%);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    pointer-events: none;
    z-index: 2;
}

.content-wrapper {
    width: 100%;
    max-width: 100%;
    background: #0d1b14;
    color: var(--text-color);
    padding: 40px;
    text-align: justify;
    font-size: 1.2rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
